.title {
  font-size: larger;
}

.outline {
  border: 1px solid black;
  border-radius: 4px;
  padding: 6px;
  margin: 8px;
}

#currentDate {
  font-family: 'Andale Mono', monospace;
  padding: 1px 10px;
  border-radius: 4px;
}

img {
  width: 150px;
  height: 150px;
}

.logo{
  border-radius: 50%;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

/* Header Styles */
header {
  background-color: #F8F8F8;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

h1 {
  font-size: 46px;
  color: #517fc1;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
}

h7 {
  font-family: 'Andale Mono', monospace;
}

p1 {
  font-size: 15px;
  color: #517fc1;
  margin-top: 3%;
}

p2 {
  font-size: 15px;
  color: #517fc1;
  margin-left: 65%;
  margin-bottom: 10%;
}

p3 {
  font-size: 15px;
  color: #517fc1;
  margin-right: 60%;
  padding: 5px;
}

/* Main Styles */
main {
  padding: 20px 0;
}

.comment-box {
  background-color: #f2f2f2;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  color:#517fc1;
}

.comment-box p {
  margin: 0;
}

.song-list {
  text-align: center;
}

.song-list h2 {
  font-size: 28px;
  margin-bottom: -5px;
  color: #5295a7;
  text-align: left;
}

.song-list #special {
  color: rgb(30, 58, 90);
  font-family: 'Cambria', serif;
}

.song-list .btn {
  margin-top: 10px;
  padding: 6px 12px;
  font-size: 16px;
  border-radius: 4px;
  background-color: #F8F8F8;
  color: #5295a7;
}

.song-list .btn:hover {
  text-decoration: underline;
}

/* Footer Styles */
footer {
  background-color: #5295a7;
  color: #fff;
  text-align: center;
  padding: 20px;
  font-size: 18px;
  border: 2px solid #fff;
  margin-top: 20px;
}

footer a {
  color: #fff;
  text-decoration: none;
}

body {
  font-family: Arial, sans-serif;
}

.song-list {
  margin-top: 20px;
}

.songcard {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.songcard h5 {
  margin-top: 0;
  margin-bottom: 10px;
}

.songcard h3 {
  margin-top: 0;
  margin-bottom: 5px;
  font-weight: bold;
}

.songcard img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.song_content {
  margin-bottom: 10px;
}

.video_iframe {
  width: 100%;
  height: 300px;
}

.btn {
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 4px;
}

.btn-danger {
  background-color: #dc3545;
  color: #fff;
  border: none;
}

.comment-box {
  background-color: #f2f2f2;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
}

.comment-box p {
  margin: 0;
  margin-bottom: 5px;
  font-size: 14px;
}

.comment-box p:last-child {
  margin-bottom: 0;
}

